<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="../static/css/myStyle.css">
</head>
<body class="dark-theme">
    <div class="container">
        <aside class="sidebar">
            <button id="toggle-theme">Toggle Theme</button>
            <div class="menu">
                <button class="collapse-btn">☰</button>
                <ul id="menu-list">
                    <li class="menu-item" data-icon="🔍">Search</li>
                    <li class="menu-item" data-icon="🚪">Login</li>
                    <li class="menu-item" data-icon="🚪">Sign up</li>
                    <li class="menu-item" data-icon="📊">Dashboard</li>
                    <li class="menu-item" data-icon="📈">Online store</li>
                    <li class="menu-item" data-icon="👤">Profile</li>
                    <li class="menu-item" data-icon="📱">Catalogue</li>
                   <li class="menu-item" data-icon="📋">Payment provider</li>
                    <li class="menu-item" data-icon="🔗">Integrations</li>
                    <li class="menu-item" data-icon="🛠">Support</li>
                    <li class="menu-item" data-icon="🚪">Logout</li>
                    <li class="menu-item upgrade" data-icon="⬆">Upgrade</li>
                </ul>
            </div>
        </aside>
        <main class="main-content">
            <h1>Welcome to the SaaS Dashboard</h1>
        </main>
  
    </div>
    <script src="../static/js/app.js"></script>
</body>
</html>

